html {
    background: url('./background.jpg');
    background-size: cover;
}
body {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: Roboto, sans-serif;
    
}

img {
    width: 300px;
    height: 300px;
    
    
}

.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}

.score-table {
    display: flex;
    justify-content: center;
    gap: 25px;

}
button {
    background-color: #b29267;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 20px;
    padding: 20px;
    
    
    

}

h1 {
    font-size: 40px;
    font-weight: 900;
}

.text {
    font-size: 30px;
}

.score-table {
    font-size: 50px;
    font-weight: 900;
}


h1, .score-table, .text {
    color: #482719;
}
